import("gamlss.dist")
import("Matrix")

importFrom("Formula", "as.Formula")

importFrom("grDevices", "n2mfrow")

importFrom("graphics", "abline", "axis", "barplot", "box", "grid",
  "hist", "legend", "lines", "matplot", "par", "points",
  "text")

importFrom("stats", "AIC", "BIC", "as.formula", "coef", "cor", "density",
  "dnorm", "filter", "logLik", "lowess", "make.link",
  "model.frame", "model.matrix", "na.omit", "pnorm",
  "predict", "qnorm", "qqline", "qqnorm", "quantile", "rnorm",
  "runif", "sd", "terms", "setNames")

importFrom("utils", "write.table")

export(
  "sdr",
  "alpha2cap2",
  "ma",
  "newformula",
  "read.retoMat"
)

S3method("predict", "stagewise")
S3method("residuals", "stagewise")
S3method("logLik", "stagewise")
S3method("summary", "stagewise")
S3method("AIC", "stagewise")
S3method("BIC", "stagewise")
S3method("coef", "stagewise")

S3method("plot", "stagewise_residuals")
S3method("plot", "stagewise")

S3method("print", "summary.stagewise")

# -------------------------------------
useDynLib(sdr)
importFrom(Rcpp, sourceCpp)
S3method("dim",     "retoMat")
S3method("head",    "retoMat")
S3method("tail",    "retoMat")
S3method("[",       "retoMat")
S3method("print",   "retoMat")
S3method("summary", "retoMat")



